body {
  background: #f7f7f8;
}

.main {
  display: "flex";
  margin: 0 auto;
}

.barChart {
  background: white;
  border: lightgray 1px solid;
  padding: 3%;
}

.chart {
  background: white;
  border: lightgray 1px solid;
  padding: 3%;
}

#chart-wrapper {
  display: flex;
  justify-content: space-evenly;
  /* background: red; */
  height: 21em;
}

.input-button-wrapper {
  padding-top: 3%;
  width: 40%;
}

.input-button-container {
  display: flex;
  justify-content: center;
}

.stats-container {
  display: flex;
  justify-content: space-evenly;
  /* background: green; */
  padding-top: 3%;
}

.header-container {
  display: flex;
  justify-content: center;
}

.top3-wrapper {
  max-width: 20%;
}

.worst3-wrapper {
  width: 20%;
  overflow: hidden;
}

.table {
  max-width: 500px;
  overflow: hidden;
  color: white;
  overflow: "hidden";
  text-overflow: "ellipsis";
  white-space: "nowrap";
}

.statistic-wrapper {
  margin: 0 auto;
}

.powered-by {
  /* background: red; */
  height: 20px;
  padding-top: 1px;
  font-style: italic;
}

.algorithmia {
  /* background: green; */
  width: 100px;
  height: 20px;
  margin-left: 3px;
}

.algorithmia-container {
  /* background: yellow; */
  background: red;
}

.first-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.second-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

.main-container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.barChart {
  height: 100%;
  width: 100%;
}

.barChart-container {
  width: 35%;
  height: 100%;
}

.lineChart-container {
  width: 60%;
}

.top3Card-container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.worst3Card-container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.statistics-container {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  align-items: center;
  margin-left: 1em;
  width: 30%;
}

.menu-wrapper {
  display: flex;
  width: 100%;
}

.input-bar {
  width: 30%;
}

@media only screen and (max-width: 952px) {
  .first-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* text-align: center; */
  }

  .second-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: "2em";
    /* text-align: center; */
  }

  .barChart-container {
    margin-top: 2em;
    width: 55%;
  }

  .lineChart-container {
    width: 80%;
  }

  .top3Card-container {
    width: 55%;
    display: flex;
    flex-direction: column;
  }

  .worst3Card-container {
    margin-top: 2em;
    width: 55%;
    display: flex;
    flex-direction: column;
  }

  .statistics-container {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 825px) {
  .title-container {
    display: flex;
    align-items: center;
    margin-left: 1em;
    width: 30%;
  }

  .title-container h2 {
    font-size: 18px;
    text-align: center;
  }

  .input-bar {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .barChart-container {
    margin-top: 2em;
    width: 95%;
  }

  .lineChart-container {
    width: 95%;
  }

  .top3Card-container {
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .worst3Card-container {
    margin-top: 2em;
    width: 95%;
    display: flex;
    flex-direction: column;
  }

  .statistics-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
  }
}
